<section class="timeline-section">

  <h2 class="section-title">Education & Experience</h2>

  <div class="timeline">

    <!-- EDUCATION -->
    <div class="column">
      <h3>Education</h3>

      <div class="item" *ngFor="let edu of education">
        <span class="circle"></span>

        <div class="content">
          <h4>{{ edu.year }}</h4>
          <p><strong>{{ edu.title }}</strong></p>
          <p>{{ edu.place }}</p>
          <p *ngIf="edu.extra">{{ edu.extra }}</p>
        </div>
      </div>
    </div>

    <!-- EXPERIENCE -->
    <div class="column">
      <h3>Experience</h3>

      <div class="item" *ngFor="let exp of experience">
        <span class="circle"></span>

        <div class="content">
          <h4>{{ exp.year }}</h4>
          <p><strong>{{ exp.company }}</strong></p>
          <p>{{ exp.role }}</p>
        </div>
      </div>

    </div>

  </div>

</section>