<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>

    <div class="container">
       <main class="row">
        <!-- Education Section -->
        <Section id="education" class="col">
            <header class="title">
                <h2>Education</h2>

            </header>
            <div class="containers">
                <div class="box">
                    <h4>2016-2017</h4>
                    <h3>Higher Secondary (X)</h3>
                    <p>         
                        Saraswati Vidya Mandir
                        Buxar,Bihar
                    </p>
                    <p>CGPA : 7.0</p>
                </div>


                <div class="box">
                    <h4>2017-2020</h4>
                    <h3>Senior Secondary (XII)</h3>
                    <p>PC College Buxar,Bihar</p>
                    <p>Percentage : 60%</p>
                </div>


                <div class="box">
                    <h4>2020-2023</h4>
                    <h3>Bachelor's Degree</h3>
                    <p>Nowrosjee Wadia College, Pune, MH </p>
                    <p>Percentage : 60%</p>
                    
                </div>
            </div>
        </Section>
        <Section id="education" class="col">
            <header class="title">
                <h2>Expiriece</h2>

            </header>
            <div class="containers">
            <div class="box">
                <h4>2024 Feb - 2024 Nov</h4>
                <h3>SetTribe</h3>
                <p>Intern</p>
                
            </div>
        </div>
        </Section>
       </main> 
    </div>


</body>
</html>
