<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="inner">
        <div class="header">
            <h1>Database Skills</h1>

        </div>
        <div class="container">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/oracle.png" class="skill-icon">
                    </div>
                    <h3>Oracle DB</h3>
                </div>

            </div>
        




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/mysql.png" class="skill-icon">
                    </div>
                    <h3>MySql DB</h3>
                </div>
            
               
            </div>




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/pgadmin.png" class="skill-icon">
                    </div>
                    <h3>PostgreSQL DB</h3>
                </div>
            
                
            </div>



            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/mongodb.png" class="skill-icon">
                    </div>
                    <h3>MongoDB</h3>
            </div>
            </div>

        </div>
    </div>
</body>
</html>