

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .wrapper{
    width: 100%;
  }
  .wrapper .navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(123, 76, 76);
    padding: 0 30px;
    height: 60px;
  }
  .wrapper .menu ul li{
  
    display: inline-block;
  
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 10px;
  
  }