<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="inner">
        <div class="header">
            <h1>Backend Skills</h1>

        </div>

       


        <div class="container">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/C.png" class="skill-icon">
                    </div>
                    <h3>C/C++</h3>
            </div>
            </div>
            <div class="skill-box">
              

                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/java.webp" class="skill-icon">
                    </div>
                    <h3>Java</h3>
                </div>

            </div>
        




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/python.svg" class="skill-icon">
                    </div>
                    <h3>Python</h3>
                </div>
            
               
            </div>




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/php.svg" class="skill-icon">
                    </div>
                    <h3>PHP</h3>
                </div>
            
                
            </div>

            
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                     <img src="Skills/springboot.png" class="skill-icon">
                    </div>
                    <h3>SpringBoot</h3>
                </div>
            </div>

        </div>
    </div>
</body>
</html>