*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.about{
    height: 100%;
    width: 100%;
    padding: 78px 0px;
    background-image: linear-gradient( #191919,#333);
    /* background-color: #191919; */
}
button{
    margin-left: 20px;
}
.main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about img{
    border: 2px solid #f30a0a;
    box-shadow:0 0 5px #ba0d0d
    ,0 0 25px #f30a0a;
    height: auto;
    width: 50%;
    border-radius: 5em;
    transition: 0.5s ease;

}
.about img:hover{
    border: 2px solid #f30a0a;
    box-shadow:0 0 10px #f30a0a
    ,0 0 50px #f30a0a;
    height: auto;
    width: 50%;
    border-radius: 5em;
    transition: 0.5s ease;
    
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4em;
}
span{
    color: #f30a0a;
}
.about-text p{
    color: rgba(255,236,236,0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
/* .cv{
    background: transparent;
    color: #f30a0a;
    font-size: 16px;
    text-decoration: none;
    border: 2px splid #f30a0a;
    font-weight: bold;
    padding: 13px 30px;
   
    transition: .4s ease;

} */
/* .cv:hover{
  background: #f30a0a;
   color: white;
    border: 2px solid #f30a0a;
    box-shadow: 0 0 5px #f30a0a,
    0 0 25px #f30a0a;
    cursor: pointer;
    transform:scale(1.1) ;
} */
.linkdin{
    background: transparent;
    color: white;
    font-size: 16px;
    background-color: #154bd4;
    text-decoration: none;
    border: 2px splid #154bd4;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 20px;
    transition: .4s ease;
}
.linkdin:hover{
    background: #154bd4;
     color: white;
      border: 2px solid #154bd4;
      box-shadow: 0 0 5px #154bd4,
      0 0 25px #154bd4;
      cursor: pointer;
      transform:scale(1.1) ;
  }
.github{
    background: transparent;
    color: #f30a0a;
    font-size: 16px;
    text-decoration: none;
    border: 2px splid #524e4e;
    font-weight: bold;
    padding: 13px 30px;
   border-radius: 20px;
    transition: .4s ease;
}
.github:hover{
    background: transparent;
    color: white;
    font-size: 16px;
    background-color: #3b3c3e;
    text-decoration: none;
    border: 2px splid #3b3c3e;
    font-weight: bold;
    padding: 13px 30px;
    transform:scale(1.1) ;
    transition: .4s ease;
}
@media (max-width:912px){
    .main{
        text-align: center;
        width: 1200px;
        max-width: 95%;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }

}