<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <section class="about" id="about">
        <div class="main">
            <img src="shubham-rem.png">
           <div class="about-text">
            <h1>About Me</h1>
            <h5>Software Devloper
                <span>& Data analytics</span>
            </h5>
            <p>
                I am an enthusiastic and detail-oriented software developer with a strong foundation in programming, problem-solving, and DSA algorithm and design.
                 Recently graduated with a degree in Bachelor of Science Computer Science, 
                 I am eager to apply my skills and contribute to impactful projects.
                 <br>
                 I am passionate about learning new technologies and thrive in collaborative environments where innovation and creativity drive success.
                  My goal is to design efficient, scalable, and user-friendly solutions that solve real-world problems.

                 Explore my portfolio to see my projects, and feel free to connect with me—I’m excited to kickstart my career and contribute to meaningful software development initiatives.
            </p>
            
            <p><span><b>Number: </b></span><b>9322887529</b></p>
            <p><b>Email: </b><span>{{email}}</span></p>
            <button type="button" class="linkdin" (click)="openInNewTab('https://www.linkedin.com/in/shubham-kumar-48b57023b/')">  <i class="fa-brands fa-linkedin" style="font-size:36px"></i></button>
            <button type="button" class="github" (click)="openInNewTab('https://github.com/Shubham200020')"><i class="fa-brands fa-github" style="font-size:36px"></i></button>
            <!-- <button type="button" class="cv">My Cv</button> -->
           </div> 
        </div>
    </section>
</body>
</html>
