*{
   
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;

    align-items: center;
    min-height: 100%;
    /* background-image: linear-gradient( #191919,blue); */

    /* background-image: linear-gradient( #333, #333,); */
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
.contact h2 {
   font-size: 40px;
   color: #ededed;
   text-align: center;
    margin-bottom: 10px;

}
.contact form{
    width: 600px;
    text-align: center;
   margin-left: 5%;
}
form .input-box {
    display: flex;
    justify-content: space-between;
   

}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;

}
.field .item ::placeholder {
    color: rgba(255, 255, 255, .3);
}
form .textarea-field .item {
    resize: none;
}
form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    
    transition: .5s;
}

form button:hover {
    box-shadow: none;
    color: white;
}
@media (max-width:900) {
   
   
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 300px;
      
       
    }
}


@media (max-width:650px) {
   
    .contact form{
        width: 325px;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px;
    
       
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    form .input-box{
        display: block;
    }
    
}