<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo"><span>SKM</span>Profile</a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#skill">Skill</a>
            <a href="#about">About</a>
            <a href="#">Footer</a>

        </nav>
      
      
        <i class="fa fa-server menu" style="font-size:24px; color: white;"></i>
    </header>
</body>
</html>