<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body>
    <header class="header1">
       
            <i class="fa fa-server menu" style="font-size:24px; color: linear-gradient(red, yellow);" (click)="menu()"></i>
       
        <a href="#" class="logo">
            <img src="sk.jpg" ngClass="img"/><span>SKM</span>Profile</a>

        <nav class="navbar" *ngIf="visible">
            <a href="#home">Home</a>
            <a href="#skill">Skill</a>
            <a href="#about">About</a>
            <a href="#education">Ed/EX</a>
            <a href="#form">Form</a>

        </nav>
    
      
   

    </header>
   <script>
       function menu(){
            alert("Hello")
        }
   </script>
</body>
</html>