<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="inner">
        <div class="header">
            <h1>Frontend Skills</h1>

        </div>
        <div class="container">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/HTML.webp" class="skill-icon">
                    </div>
                    <h3>HTML</h3>
                </div>

            </div>
        




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/css.svg" class="skill-icon">
                    </div>
                    <h3>CSS</h3>
                </div>
            
               
            </div>




            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/js.svg" class="skill-icon">
                    </div>
                    <h3>JavaScript</h3>
                </div>
            
                
            </div>



            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="Skills/Angular.svg" class="skill-icon">
                    </div>
                    <h3>Angular</h3>
            </div>
            
            </div>
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                     <img src="Skills/React.png" class="skill-icon">
                    </div>
                    <h3>React JS</h3>
                </div>
            </div>

        </div>
    </div>
</body>
</html>