<section class="inner" aria-labelledby="frontend-skills-title">
    <div class="header">
        <h2 id="frontend-skills-title">Frontend Skills</h2>
    </div>

    <div class="container">
        <article class="skill-box">
            <div class="img">
                <img src="Skills/HTML.webp" alt="HTML" class="skill-icon">
            </div>
            <h3>HTML</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/css.svg" alt="CSS" class="skill-icon">
            </div>
            <h3>CSS</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/js.svg" alt="JavaScript" class="skill-icon">
            </div>
            <h3>JavaScript</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/Angular.svg" alt="Angular" class="skill-icon">
            </div>
            <h3>Angular</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/React.png" alt="React" class="skill-icon">
            </div>
            <h3>React JS</h3>
        </article>
    </div>
</section>
