<section class="inner" aria-labelledby="other-skills-title">
    <div class="header">
        <h2 id="other-skills-title">Other Skills</h2>
    </div>

    <div class="container">
        <article class="skill-box">
            <div class="img">
                <img src="Skills/linux.svg" alt="Linux" class="skill-icon">
            </div>
            <h3>Linux</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/aws.svg" alt="AWS" class="skill-icon">
            </div>
            <h3>AWS</h3>
        </article>

        <article class="skill-box">
            <div class="img">
                <img src="Skills/android-studio.svg" alt="Android Studio for mobile applications" class="skill-icon">
            </div>
            <h3>Android Studio</h3>
        </article>
    </div>
</section>
