<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

   <div class="nav">
    <app-nav-bar></app-nav-bar>
   </div>


  <div class="hmskl">
    <section class="home" id="home">
        <div class="home-container">
            <h3>Hello</h3>
            <h1>I'm <span>Shubham<br></span>
            a Software Devloper 
            </h1>
            <p>
                Welcome to my corner of the internet.
                 I'm a Computer Engineer with a Interest in Devlopment.
                  I love helping others by Using My Problem Solving Skills in Computer Science.
As a Computer Science Student,
 I specialize in Full Stack Java Devlopment. This website is my platform to Contact With Me To Build Projects For You. Here, you can find blog posts, portfolio, services, etc. My mission is to To Provide services From My Website.
            </p>
            <div class="bnt-box">
                <button class="btn-2" (click)="openInNewTab()">Send Email <i class="fa fa-envelope"></i></button>
                <!-- <button class="btn-1">Experience</button> -->

            </div>
        </div>
        <div class="img-box">
            <img src="Skills/shubham3-rm.png">
          </div>
    </section>
    <section class="skill" id="skill">
      <app-frontend-skill></app-frontend-skill>
      <app-backend-skill></app-backend-skill>
      <app-database-skills></app-database-skills>
    </section>


    <app-education></app-education>
    <app-form></app-form>
    <app-about></app-about>
    <app-footer></app-footer>
  </div>
   
</body>
</html>